.navbar {
    margin-bottom: 1em;
}

.cv-row {
    margin-bottom: 1rem;
}

.cv-degree {
    font-weight: bold;
}

.cv-institution {
    font-style: italic;
}

.cv-notes {
    font-style: italic;
    font-size: small;
}

.cv-date {
    text-align: right;
}

.cv-list {
    font-size: small;
    font-style: italic;
}

.cv-header {
    border-bottom: 0.05rem solid darkorange;
    /*border-top: 0.2rem solid darkorange;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cv-icon {
    text-align: right;
}

.cv-title {
}

.cv-journal {
    font-variant: small-caps;
}

.cv-volume {
    font-weight: bold;
}

.cv-meeting {
    font-style: italic;
}