{{ define "main" }}
<div class="row flex-md-center">
    <div class="col-md-8">

        <!-- {{ .Content }} -->
        {{ range first 2 (where .Site.Pages "Section" "posts")}}
        <div class="summary">
            <a href="{{ .URL }}">
                <h4 class="summary-title">{{ .Title }}</h4>
            </a>
            <span class="summary-summary">
                {{ .Summary }}
            </span>
            <br>
            <a class="summary-read-more" href="{{ .URL }}">Read More</a>
            <br>
            <span class="summary-tag-container">
            {{ range .Params.tags }}
            <a class="summary-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
                </span>
        </div>
        {{ end }}

    </div>

    <div class="col-md-4">
        <h5>Recent Posts</h5>
    </div>
</div>
{{ end }}
